<ul class="cliffs">
<% @cliffs = Cliff.all %>
	<% @cliffs.each do |cliff| %>
		<b> <%= cliff.name %> </b><br/>
			<% cliff.courses.each do |course| %>		
			<li>
			<%= link_to course.clients.first.first_name+ " "+course.clients.first.last_name, course %>
			</li>
		<% end %>
	<% end %>
</ul>
