<h1> Cliff Viewer </h1>
<h3> Cliff Name: <%= @cliff.name %></h3>
<%= button_to "Edit #{@cliff.name}", edit_cliff_path(@cliff), :method => 'get' %>
<br />
		<h3><%= "Courses:" %></h3>
		<%= render :partial => 'courses/list' %>



