<%= will_paginate @guides, :param_name => 'client_page' %>	
<ul class="clients">
	<% @clients.each do |client| %>
		<li>
			<%= link_to client.first_name+" "+client.last_name, client %>
		</li>
	<% end %>
</ul>
