<h1>Atlantic Climbing School Database</h1>

<%= form_tag url_for(:controller => :courses, :action => :index), :method => 'get'  do %>
	<%= date_select "course", "date", :order => [:month, :day, :year] %>
	<%= submit_tag "Find Courses By Date", :name => nil %>
<% end %>
