body {
	background: #fff;
}

#header {
	padding: 20px;
}

#sidebar {
	margin-left: 20px;
  margin-right: auto;
}

#content {
	margin-left: auto;
  margin-right: auto;
}

#rsidebar {
  margin-left: auto;
  margin-right: auto;
}

#footer {
	padding: 20px;
}



